{% extends 'base.html' %}

{% block body %}

<label for="your_goal">Ваша цель:</label>
<input type="number" id="your_goal" name="your_goal" required>

<label for="starting_capital">Стартовый капитал:</label>
<input type="number" id="starting_capital" name="starting_capital" required>

<label for="interest_rate">Процентная ставка:</label>
<input type="number" id="interest_rate" name="interest_rate" required>

<input type="submit" value="Рассчитать">

<p>Срок вклада (лет): {{ calculated }}</p>

{% endblock %}